
.EditProfile-body{
    background-color: #3AAFA9;
    height: 100vh;
    border-radius: 1rem;
}

.EditProfile-box{
height: 35%;
width: 45%;
/* padding-left: 1rem; */
/* margin-left:1rem; */
margin: auto;
padding-top: 5rem;
}

/* em is font size of nearest parent, fem*/

.EditProfile-input{
    background-color: #def2F1;
    height: 300%;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /*watch a video on flexbox*/
    align-items: center;
    margin-top: 2rem;
}

.form-control{
    display: block;
    margin-bottom: 1rem;
    border-radius: 10px;
    width: 85%;
}

.button{
    height: 3rem;
    background: black;
    color: white;
    border-radius: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    /* background-color: #2196F3; */
    background-color: #3AAFA9;
}
  
input:focus + .slider {
    /* box-shadow: 0 0 1px #2196F3; */
    background-color: #3AAFA9;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* #private-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
} */

.pfp {
    margin-bottom: 1rem;
}

#pfp-button {
    height: 2rem;
}

#pfp-image {
    width: 40%;
    border-radius: 50%;
}