.feed-body {
  background-color: #def2f1;
  height: 100vh;
}

.Feed-Area {
  padding-top: 3rem;
}

.Feed-Box {
  background-color: #3aafa9 !important;
  border-radius: 15px;
  border: 4px solid #2b7a78 !important;
}

.share-button {
  border: 2px solid #17252a;
  border-radius: 5px;
  background-color: #17252a;
  color: white;
  width: 20%;
  height: 15%;
}

.continue-reading-button {
  border: 2px solid #17252a;
  border-radius: 5px;
  background-color: #17252a;
  color: white;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.article-img {
  width: 75%;
  height: 100%;
  border: 4px solid #2b7a78;
}
