.read-article-button {
  border: 2px solid #17252a;
  border-radius: 5px;
  background-color: #17252a;
  text-decoration: none;
  color: white;
  width: 25%;
  height: 15%;
}

#new-comment-submit {
  border: 2px solid #17252a;
  border-radius: 5px;
  background-color: #17252a;
  color: white;
}

.comment-card {
  width: 47%;
}

.comment-card-body {
  background-color: #55c0bb !important;
  border-radius: 15px;
  border: 4px solid #2b7a78;
}

.prof-pic-thread {
  border-radius: 50%;
  border: 2px solid #2b7a78;
  width: 50px;
  height: 50px;
}