
  .search-body {
    background-color: #def2f1;
    height: 400vh;
  }

  .Info-Area {
    width: 40%;
    color: #def2f1;
  }

  .Company-Info-Header{
    background-color: #2b7a78 !important;
    color: #def2f1;
    font-size: 1.5rem;
  }

  .Company-Info-Text{
    color: #def2f1;
  }

  .Result-Box {
    background-color: #def2f1 !important;
    border-radius: 0px;
    color: #def2f1;
  }
  
  .Company-Info-Card-Body{
    border: 2px solid #2b7a78;
    background-color: #93dddb !important;
    color: #def2f1;
  }