
  .search-body {
    background-color: #def2f1;
    height: 200vh;
  }

  .Stats-Area {
    width: 40%;
    color: #def2f1;
  }

  .Stock-Stats-Header{
    background-color: #2b7a78 !important;
    color: #def2f1;
    font-size: 1.5rem;
  }

  .Result-Box {
    border-radius: 0px;
    color: #def2f1;
  }
  
  .Stock-Stats-Card-Body{
    border: 2px solid #2b7a78;
    background-color: #93dddb !important;
    color: #def2f1;
  }

  .Stock-Stats {
      color: #def2f1;
  }

  .Stock-Stats-Table{
    color: #2b7a78;
  }